.auth-layout {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: linear-gradient(135deg,
            #F8FAFC,
            #E2E8F0);

}